<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AgenceGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <AgenceGUI.Properties.Settings>
            <setting name="AgenceGUI_ReferenceServiceDisponibilte_ConsulterDisponibilite"
                serializeAs="String">
                <value>https://localhost:44356/ConsulterDisponibilite.asmx</value>
            </setting>
            <setting name="AgenceGUI_ReferenceServiceReservation_WebServiceReservation"
                serializeAs="String">
                <value>https://localhost:44356/WebServiceReservation.asmx</value>
            </setting>
        </AgenceGUI.Properties.Settings>
    </applicationSettings>
</configuration>